.contactMainform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactField {
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}